.question {
  margin: 5px 0;
  h4,
  .addTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 22px;
    color: #fff;
    &:hover {
      color: #9ef3f7;
    }
  }
}
.itemPosition {
  font-size: 1.3rem;
  color: #fff;
  padding-left: 20px;
  padding-top: 5px;
  cursor: var(--pointer);
}
.itemPositionIn {
  font-size: 1.3rem;
  color: #fff;
  padding-left: 20px;
  padding-top: 3px;
  cursor: var(--pointer);
  &:hover {
    color: #9ef3f7;
  }
}
.questionIn {
  padding-left: 25px;
}
.divAdd {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 1.4rem;
  input {
    width: 80%;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
  }
  button {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    cursor: var(--pointer);
  }
}
